{% extends 'news/base.html' %}

{% block content %}

{% load static %}
  
  <div id="NYG_NewsWrapper" class="container-fluid">

    <div class="col-sm-3"> 
      <div class="row" style="background-color:rgba(137,207,240,0.2);">
        <div class="col-sm-12" style="border-right: 1px solid #eee;padding:12px 16px 8px 16px;">
          <span id="NYG_AccordionToggle" class="pull-right team-news-header">
            <img class="team-news-header-logos" src="{% static '/clockwork/nyg_logo.png' %}" alt="My image" height="50px" width="auto" />
          </span>
        </div>
      </div>
      <div id="NYG_AccordionDiv" class="row" style="display:none;">
        <div class="col-sm-12" style="height:555px;overflow:scroll;padding:4px;">
          <ul class="list-unstyled">
            {% for NYG_article in NYG_articles %}
              <li><h4>{{ NYG_article.title }}</h4></li>
              <li class="article-description"><p>{{ NYG_article.description }}</p></li>
              <br>
              <li style="padding:15px;padding-left:0;"><a class="pull-left" href="{{ NYG_article.url }}" role="button">Full Article &raquo;</a><i class="pull-right text-muted">{{ NYG_article.publication_date }}</i></li>
              <hr>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-9"></div>

      </div>
  </div>

  <div id="NYR_NewsWrapper" class="container-fluid">
    <div class="col-sm-3">
      <div class="row" style="background-color:rgba(137,207,240,0.2);">
        <div class="col-sm-12" style="border-right: 1px solid #eee;padding:12px 16px 8px 16px;">
          <span id="NYR_AccordionToggle" class="pull-right team-news-header">
              <img class="team-news-header-logos" src="{% static '/clockwork/nyr_logo.png' %}" alt="My image" height="50px" width="auto" />
          </span>
        </div>
      </div>
      <div id="NYR_AccordionDiv" class="row" style="display:none;">
        <div class="col-sm-12" style="height:555px;overflow:scroll;padding:4px;">
          <ul class="list-unstyled">
            {% for NYR_article in NYR_articles %}
              <li><h4>{{ NYR_article.title }}</h4></li>
              <li class="article-description"><p>{{ NYR_article.description }}</p></li>
              <br>
              <li style="padding:15px;padding-left:0;"><a class="pull-left" href="{{ NYR_article.url }}" role="button">Full Article &raquo;</a><i class="pull-right text-muted">{{ NYR_article.publication_date }}</i></li>
              <hr>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-9"></div>

    </div>
  </div>
  <div id="NYK_NewsWrapper" class="container-fluid">

    <div class="col-sm-3">
      <div class="row" style="background-color:rgba(137,207,240,0.2);">
        <div class="col-sm-12" style="border-right: 1px solid #eee;padding:12px 16px 8px 16px;">
          <big class=>
            <span id="NYK_AccordionToggle" class="pull-right team-news-header">
              <img class="team-news-header-logos" src="{% static '/clockwork/nyk_logo.png' %}" alt="My image" height="50px" width="auto" />
            </span>
          </big>
        </div>
      </div>
      <div id="NYK_AccordionDiv" class="row" style="display:none;">
        <div class="col-sm-12" style="height:555px;overflow:scroll;padding:4px;">
          <ul class="list-unstyled">
            {% for NYK_article in NYK_articles %}
              <li><h4>{{ NYK_article.title }}</h4></li>
              <li class="article-description"><p>{{ NYK_article.summary }}</p></li>
              <br>
              <li style="padding:15px;padding-left:0;"><a class="pull-left" href="{{ NYK_article.url }}" role="button">Full Article &raquo;</a><i class="pull-right text-muted">{{ NYK_article.publication_date }}</i></li>
              <hr>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-9"></div>

    </div>
  </div>


{% endblock %}