{% extends 'news/base.html' %}

{% block content %}

<div id="viewExistingNewsFeedListWrapper" style="position:absolute;top:0;left:0;width:100%;">

  <div class="jumbotron">
    <div class="container">
      <h1>News Feeder</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'feed_new' %}">New Feed</a>
        <ul>
  	    {% for feed in feeds %}
  	        <li><a href="{{ feed.url }}">{{ feed.title }}</a></li>
  	    {% endfor %}
  			</ul>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
  
</div>


{% endblock %}