{% extends 'news/base.html' %}

{% block content %}
<div id="addNewsFeedWrapper" style="position:absolute;top:0;left:0;width:100%;">

<div class="jumbotron">
  <div class="container">
    <h1>News Fed.</h1>
    <p>Add a new feed.<br>Just copy / paste URL in the input area below and press Submit, fool.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p  }}
        <hr>
        <button class="btn btn-default" type="submit" href="#" role="button">Submit &raquo;</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}